.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.image {
  width: 100%;
}

.photo-grid {
  padding: 0px !important;
}

.search {
  text-align: center;
}

.myNav {
  height: 60px;
  background-color: #f8f9fa !important;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.onTop {
  display: inline-block !important;
  text-align: center;
}

.logo {
  text-align: left;
  position: absolute;
}

.searchField {
  background-color: #f8f9fa !important;
  border-color: black;
}

.searchField:focus {
  background-color: white !important;
  outline: none !important;
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.list-items {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.975);
  position: relative;
  z-index: 99;
}

.list-item {
  background-color: white;
  height: 45px;
  border-bottom: solid grey 0.1px;
  text-align: left;
  padding-left: 12px !important;
  padding: 8px;
}

.list-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.list-item > p > i {
  margin-right: 10px;
  color: grey;
}

.photo-grid {
  text-align: center;
}

.lds-ring {
  margin-top: 100px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid grey;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: grey transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  /* padding-top:10px;
  padding-bottom:10px; */
}

.slider.round:before {
  border-radius: 50%;
}

.settings-pane {
  position: relative;
}

.settings-pane > div > div,
.setting-element {
  display: inline-block;
  position: relative;
}

.setting-element {
  margin-right: 40px;
}

.fullscreen-setting {
  top: 10px;
  margin-left: 20px;
}

.switch {
  top: 6px;
}

.settings-pane {
  text-align: right;
  height: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.toggle-label {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  top: 10px;
}

.icon-button {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.icon-button:hover {
  background-color: RoyalBlue;
}

.place-title {
  top: 12px;
  margin-right: 40px;
}
